html {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 1em;
}

#map {
    width: 100%;
    height: 500px;
}

@media only screen and (min-height: 820px) {
    #map {
        width: 100%;
        height: 700px
    }
}

footer {
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
